* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background: #fff;
    margin: auto;
}

.card {
    position: absolute;
    background: #fa8c08;
    width: 40%;
}

.img_main {
    width: 8em;
    height: 8em;
    border-radius: 20px 20px 20px 20px;
    margin: 20px;
}

h2.title {
    font-size: 2em;
    color:#fff;
    align-items: center;
}

h3.sub_title {
    font-size: 1.2em;
}

p.description {
    font-size: 1em;
    margin: 15px;
}

button.checkout {
    background: #fa8c08;
    color:#fff;
    font-size: 1em;
    width: 200px;
    text-decoration: none;
    border: solid 1.5px #fff;
    border-radius: 10px 10px;
    padding: 10px;
    margin: 20px;
}

button.checkout:hover {
    background: #fff;
    color: #fa8c08;
}

p.project_info {
    font-size: 1em;
    margin: 15px;
}