* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("images/beach.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.nav-main {
    background-color: rgb(122, 122, 244);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-main ul {
    display:inline-flex;
    list-style: none;
    font-size: .8rem;
    color: rgb(255,255,255);
}
.nav-main li {
    width: 140px;
    margin: 15px;
    padding: 15px; 
}
.nav-main ul li a {
    text-decoration: none;
    color: rgb(255,255,255);
}
.active, .nav-main ul li:hover {
    background-color: rgb(48, 48, 160);
    border-radius: 5px;
}
.nav-sub {
    display: none;
}
.nav-main ul li:hover .nav-sub {
    display: block;
    position: absolute;
    background-color: rgb(48, 48 ,160);
    margin-top: 15px;
    margin-left: 15px;
}
.nav-main ul li:hover .nav-sub ul {
    display: block;
    margin: 10px;
}
.nav-main ul li:hover .nav-sub ul li{
    width: 160px;
    padding: 10px;
    border-bottom: 1px dotted rgb(255,255,255);
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.nav-main ul li:hover .nav-sub ul li:last-child{
    border-bottom: none;
}
.nav-main ul li:hover .nav-sub ul li a:hover{
   color:rgb(122, 122, 244);
}