@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@300;500;700;900&display=swap');

.hero-image {
    background-image: url("images/Design_Select.jpg");
    background-color: #000000;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #hero-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 8rem;
    line-height: 80%;
  }

  #hero-subheading {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 4rem;
    line-height: 80%;
  }

  @media screen and (max-width: 768px) {
    #hero-heading {
      font-size: 6rem;
    }
  }

  @media screen and (max-width: 640px) {
    #hero-heading {
      font-size: 5rem;
    }
  }
