@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@300;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #F3B900;
    background-image: url("images/Max_Volume.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: row;
}

.nav-bar {
    width: 30%;
    height: 100vh;
    margin: 20px;
    padding: 10px;
    background-color: #000000;
}

.nav-bar a {
    text-decoration: none;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: start;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 180px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
   background-color:  #FA00FF;
}

.nav-text {
    color: #ffffff;
    padding-left: 12px;
    font-size: 1rem;
}

.fa-house {
    color: #ffffff;
    font-size: 2rem;
    padding: 10px 20px 10px 10px;
}

.fa-headphones {
    color: #ffffff;
    font-size: 2rem;
    padding: 10px 20px 10px 10px;
}

.fa-download {
    color: #ffffff;
    font-size: 2rem;
    padding: 10px 20px 10px 10px;
}

.hero_content {
    display: flex;
    align-content: center;
    align-content: center;
    justify-content: center;
    max-width: 60%;
    background-color: antiquewhite;
}

.hero_header {
    width: 10%;
    display: flex;
    align-content: center;
    position: absolute;
    left: 25%;
    height: 100vh;
    margin: 10px;
    padding: 10px;
    background-color: #FA00FF;

}

.vetical-text {
    color: #ffffff;
    font-size: 7rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    transform: rotate(270deg);
}

.horizontal-text {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.play-button {
    color: #FA00FF;
    background-color: #ffffff;
    padding: 20px 40px 20px 50px;
    font-size: 3rem;
    text-align: center;
    border-radius: 50%;
    border: 8px solid #FA00FF;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.play-button:hover {
    background-color: #FED220;
}

.content-text {
    color: #ffffff;
    font-weight: 300;
    font-size: 1rem;
    margin-top: 20px;
    padding: 20px;
}

.side-bar {
    width: 50%;
    height: 100vh;
    margin: 20px;
    padding: 10px;
    background-color: aqua;
}

.search-bar {
    display: flex;
    align-content: end;
    justify-content: end;
}

.search {
    padding: 4px;
    border: 0;
    border-radius: 4px;
}

.btn-search {
    padding: 5px;
    background-color: #FA00FF;
    border: 0;
    border-radius: 4px;  
}

.fa-magnifying-glass {
    color: #ffffff;
    padding: 5px 5px 5px 5px;
}

.music-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 50px;
    padding: 5px;
    background-color: #F3B900;
}
.sound-bar {
    background-color: #FA00FF;
    width: 30px;
    height: 200px;
    border-radius: 30px 30px 0 0;
}