@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@300;500;700;900&display=swap');

:root {
    --primary-font: 'Poppins', sans-serif;
    --primary-color: #FFF;
    --secondary-color: #F3B900;
    --accent-color: #FA00FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);  
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--secondary-color);
    background-image: url("images/Max_Volume.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: grid;
    gap: 0.1rem;
    grid-template-columns: 200px 1fr 3fr;
}

.nav-bar {
    height: 100vh;
    margin: 10px;
    padding: 10px;
}

.nav-bar a {
    text-decoration: none;
}

.nav-link {
    text-align: start;
    margin-top: 0;
    margin-bottom: 20px;
    border-radius: 8px;
}

.nav-text {
    color: var(--primary-color);
    padding-left: 12px;
    font-size: 0.8rem;
}

.fa-house {
    color: var(--primary-color);
    font-size: 1.8rem;
    padding: 10px 20px 10px 10px;
    transition: transform 0.3s ease;
}

.fa-house:hover {
    transform: scale(1.1);
 }

.fa-headphones {
    color: var(--primary-color);
    font-size: 1.8rem;
    padding: 10px 20px 10px 10px;
    transition: transform 0.3s ease;
}

.fa-headphones:hover {
    transform: scale(1.1);
 }

.fa-download {
    color: var(--primary-color);
    font-size: 1.8rem;
    padding: 10px 20px 10px 10px;
    transition: transform 0.3s ease;
}

.fa-download:hover {
    transform: scale(1.1);
 }

.hero_content {
    margin-top: 30px;
    text-align: center;
}

.play-button {
    color: var(--accent-color);
    background-color: var(--primary-color);
    padding: 10px 30px 10px 35px;
    font-size: 3rem;
    border-radius: 50%;
    border: 7px solid var(--accent-color);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.play-button:hover {
    transform: scale(1.1);
}

.btn-text {
    text-transform: uppercase;
    color: var(--accent-color);
    font-size: 0.8rem;
    padding-top: 15px;
}

.content-text {
    color: var(--primary-color);
    font-weight: 300;
    font-size: 0.8rem;
    text-align: start;
    margin-top: 10px;
    padding: 10px;
}

.media-icons {
    margin-top: 10px;
    text-align: start;
}

.fa-facebook {
    color: #000;
    font-size: 2rem;
    padding: 10px 20px 10px 10px;
    transition: transform 0.3s ease;
}

.fa-facebook:hover {
    transform: scale(1.1);
}

.fa-square-instagram {
    color: #000;
    font-size: 2rem;
    padding: 10px 20px 10px 10px;
    transition: transform 0.3s ease;
}

.fa-square-instagram:hover {
    transform: scale(1.1);
} 

.hero_header {
    margin: 20px;
    padding: 10px;
    height: 100vh;
    background-color: var(--accent-color);
}

.vetical-text {
    color: var(--primary-color);
    font-size: 8rem;
    font-weight: 900;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    text-align: center;
    background-color: #000;
}

.horizontal-text {
    color: var(--primary-color);
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.side-bar {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: 100vh;
    margin: 20px;
    padding: 10px;
    background-color: aqua;
}

.search-bar {
    display: flex;
    justify-content: end;
}

.search {
    padding: 4px;
    border: 0;
    border-radius: 4px;
    color: #6f6868;
}

.search::placeholder {
    padding-left: 2px;
    color: #6f6868;
}

.search:focus {
   outline: none;
}
.btn-search {
    padding: 5px;
    background-color: var(--accent-color);
    border: 0;
    border-radius: 4px;  
}

.fa-magnifying-glass {
    color: var(--primary-color);
    padding: 5px 5px 5px 5px;
}

.music-icon {
    display: flex;
    justify-content: end;
    background-color: var(--secondary-color);
}
.sound-bar {
    background-color: var(--accent-color);
    width: 30px;
    height: 200px;
    border-radius: 30px 30px 0 0;
    margin: 5px;
}

@media (min-width: 40em) {
    .container {
        display: grid;
        grid-template-columns: 1ft;
        
    }
}