@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --primary-font: 'Roboto', sans-serif;
    --primary-color: #444444;
    --secondary-color: #9e9c9c;
    --accent-color: #FA00FF;
    --background-color: #F3B900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color);
}

.calculator {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    overflow: hidden;
}

.calculator-display {
    background-color: var(--primary-color);
    color: #a0a0a0;
    width: 18rem;
    height: 4rem;
    padding: 1rem;
    margin-bottom: 0.1em;
    font-size: 1.5rem;
    text-align: right;
}

.calculator-btns {
    background-color: var(--background-color);
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(4, auto);
}

.calculator-btns > button {
    border: 0;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    transition: opacity 0.25s ease;  
}

.calculator-btns > button:hover {
    opacity: 0.8;  
}


.btn-equals {
    background-color: var(--accent-color);
    grid-column: 4;
    grid-row: 2 / span 4;
}

.btn-clear {
    text-transform: uppercase;
}

.operator-plus, .operator-minus, .operator-multiply, .operator-divide {
    background-color: var(--secondary-color);
}

